.popover-text {
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 14px;
  padding-left: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.animation {
  height: 20vh;
  @media screen and (min-width: 1024px) {
    height: 50vh;
  }
}

.forgotten-password-container {
  cursor: pointer;
  margin-top: 4px;
  margin-left: 32px;
}
