.status-container {
  display: flex;
  flex-direction: column;
}

.success-line {
  border-left: 6px solid #4bb543;
  height: 100%;
}

.alert-line {
  border-left: 6px solid #fab732;
  height: 100%;
}

.post-container {
  padding: 8px;
}

p.post-text {
  margin: 4px 0px;
}

.created-request-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
