.error-text {
  color: red;
  line-height: 2;
}

.normal-text {
  margin-top: 8px;
  line-height: 2;
}

.filter-category-header {
  padding-left: 4px;
}

.divider {
  border-top: 3px solid red;
}

.desktop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.mobile {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.margin {
  margin-top: 2vh;
  margin-bottom: 10vh;
  @media screen and (min-width: 768px) {
    margin-top: 5vh;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 10vh;
  }
}

.animation {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.desktop-container {
  position: relative;
  bottom: 50px;
}

.header {
  ion-toolbar {
    --min-height: 50px !important;
  }
}
