.create-post-link-text {
  color: var(--ion-color-primary);
}

.filter-category-header {
  padding-left: 4px;
}

.posts-list-container {
  --background: #e5e9ec;
}

.posts-list {
  background-color: #e5e9ec;
}
