.error-text {
  color: red;
  line-height: 2;
}

.posts-container {
  @media screen and (min-width: 1024px) {
    margin-top: 100px;
  }
}

.normal-text {
  margin-top: 8px;
  line-height: 2;
}

.filter-category-header {
  padding-left: 4px;
}

.divider {
  border-top: 3px solid red;
}

.desktop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.mobile {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.animation {
  height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  ion-toolbar {
    --min-height: 50px !important;
  }
}
