.header {
  font-weight: bold;
  font-size: 1.3rem;
}

.bold {
  font-weight: bold;
}

.user-info {
  padding-top: 15px;
  justify-content: space-between;
}

.avatar {
  width: 18vw;
  height: 18vw;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 10vw;
    height: 10vw;
  }
  @media screen and (min-width: 1024px) {
    width: 8vw;
    height: 8vw;
  }
  @media screen and (min-width: 1200px) {
    width: 7vw;
    height: 7vw;
  }
  @media screen and (min-width: 1600px) {
    width: 5vw;
    height: 5vw;
  }
  @media screen and (min-width: 2000px) {
    width: 4vw;
    height: 4vw;
  }
}

.accept-col {
  padding-top: 15px;
  justify-content: space-between;
  padding-right: 30px;
}

.delete-button {
  font-weight: bold;
  font-size: 1.3rem;
}
