.avatar {
  width: 18vw;
  height: 18vw;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 10vw;
    height: 10vw;
  }
  @media screen and (min-width: 1024px) {
    width: 8vw;
    height: 8vw;
  }
  @media screen and (min-width: 1200px) {
    width: 7vw;
    height: 7vw;
  }
  @media screen and (min-width: 1600px) {
    width: 5vw;
    height: 5vw;
  }
  @media screen and (min-width: 2000px) {
    width: 4vw;
    height: 4vw;
  }
}

.study-buddy {
  margin-bottom: 1vh;
  @media screen and (min-width: 1024px) {
    margin-bottom: 3vh;
  }
}

.light {
  font-weight: 300;
  font-size: 0.8em;
}

.hover {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
  font-size: 1.2em;
}

.copy-icon {
  padding-left: 5px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
