.pointer {
  cursor: pointer;
}

.avatar {
  cursor: pointer;
  width: 160px;
  height: 160px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-text {
  padding: 0;
  text-align: start;
}
