.pointer {
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-text {
  padding: 0;
  text-align: start;
}

.profile-art-banner-container {
  cursor: pointer;
}
