.empty-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (min-width: 1024px) {
    width: 40%;
  }
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.share {
  cursor: pointer;
  font-size: 24px;
}

.description {
  font-size: 1.2em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.art-card {
  box-shadow: none !important;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.light-text {
  opacity: 0.6;
}

.icon {
  font-size: 16px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  padding: 8px 8px;
}

.rws-header {
  color: black;
}

.art-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.art-header-text {
  margin: 0px;
}

.share-button-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu-button {
  --padding-bottom: 0px;
  --padding-top: 0px;
  --background-hover: white;
}

.pic-modal {
  --height: 100px;
  --bottom: 0;
}

.cover-selection-image {
  cursor: pointer;
}
