.date-picker {
  color: black !important;
}

.date-picker-label {
  font-size: 12px;
}

.error-text {
  color: --ion-color-danger !important;
}

.datetime-button {
  display: none;
}

.date-picker-modal-content {
}
