.input-container {
  border: 1px solid #000000;
  border-radius: 16px;
  width: 100%;
  padding: 0px 8px 8px 8px;
}

.date-picker {
  color: black !important;
}

.date-picker-label {
  font-size: 12px;
}
