.post-container {
  padding: 16px;
}

.post-text-location {
  font-size: 1.3em;
}

p.post-text {
  margin: 4px 0px;
}

.key-details-text {
  margin: 0;
  font-size: 18px;
}

.item-container {
  margin-bottom: 8px;
}
