.post-container {
  height: 200px;
}

.post-text-location {
  font-weight: bold;
  font-size: 1.2em;
  margin: 16px 0px;
}

p.post-text {
  font-weight: 300;
  margin: 0;
}

.key-details-text {
  margin: 4px 0;
}
