.post-item {
  --padding-start: 0;
}
.header {
  font-weight: bold;
  font-size: 1.3rem;
}

.poster-name {
  font-weight: bold;
  cursor: pointer;
}

.user-info {
  padding-top: 10px;
  justify-content: space-between;
}

.avatar {
  width: 20vw;
  height: 20vw;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 10vw;
    height: 10vw;
  }
  @media screen and (min-width: 1024px) {
    width: 8vw;
    height: 8vw;
  }
  @media screen and (min-width: 1200px) {
    width: 7vw;
    height: 7vw;
  }
  @media screen and (min-width: 1600px) {
    width: 5vw;
    height: 5vw;
  }
  @media screen and (min-width: 2000px) {
    width: 4vw;
    height: 4vw;
  }
}
