.modal-container {
  --min-height: 100%;
  --min-width: 100%;
}

.back-button {
  position: fixed;
  top: 0px;
  left: 16px;
  z-index: 10000;
  --padding-start: 0;
  --padding-end: 0;
}

.art-header {
  margin-top: 0;
  margin-bottom: 0;
}

.art-popover-button {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .mobile {
    margin-top: 5vh;
  }
}
