.customTextArea {
  --padding-start: 1rem;
  --padding-end: 1rem;
  margin-top: 0.25rem;
}

.input-container {
  border: 1px solid #000000;
  border-radius: 16px;
  width: 100%;
  padding: 0px 8px 8px 8px;
}

.input-floating-label {
  font-size: 12px;
}
