.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  @media screen and (min-width: 768px) {
    height: 40vh;
  }
  @media screen and (min-width: 1024px) {
    width: 50vh;
  }
}

.animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (min-width: 1024px) {
    width: 20%;
  }
}

.row {
  display: flex;
  justify-content: center;
}
